@use '@angular/material' as mat;
:host{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  @include mat.dialog-overrides((
    container-shape: rectangle
  ));
}
.alert {
  padding: 3px;
}
.msg{
  padding: 3px;
  color:red;
  font-weight: bold;
}
.mat-mdc-dialog-content {
  padding: 20px !important;
}
  .my-custom-dialog-container {
    border-radius: 24px; // Example: more rounded corners
    // Other styling properties like background-color, box-shadow, etc.
  }
