  <input type="text" name="fakeusernameremembered" style="display:none">
  <input type="password" name="fakepasswordremembered" style="display:none">
<div class='conteudoLogin'>
  <div class="formLogin">
    <form id="form" [formGroup]="form" (submit)="logar()" autocomplete="off">
      <div class="logo">
        <img style="width: 100%;" src="assets/images/cbkt-light.png">
      </div>
      <div class="formTitulo">Seja bem vindo!</div>
      <div class="formSubTitulo">Primeiro acesso? <a class="btPrimeiroAcesso" routerLink="/primeiro-acesso">Clique aqui</a></div>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input
          matInput
          formControlName="titulo"
          type="email"
          name="no-username"
          autocomplete="off"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          formControlName="senha"
          [type]="hide ? 'password': 'text'"
          autocomplete="new-password"
          name="no-password">
        <mat-icon style="cursor: pointer;" matSuffix (click)="changeHide()" title="{{hide ? 'Revelar Senha' : 'Ocultar Senha'}}">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <a class="btEsqueciSenha" (click)="esqueciSenha()" title="Criar uma nova senha.">
        <mat-icon>lock_reset</mat-icon>
        Esqueceu a senha?
      </a>
      <div>
        <button mat-flat-button color="primary" id="btAcessar" class="btAcessar" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
  <div class="logoLogin"></div>
</div>
