*{
  margin: 0;
  padding: 0;
}
:host{
  background-color:transparent !important;
  background-repeat: no-repeat;
  background-position: center;
}
div.conteudoLogin{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
div.formLogin {
  width: 25vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  >form{
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
div.logoLogin {
  width: 75vw;
  height: 100vh;
  background-color:#231f20 !important;
  background-image: url("../../../../../../public/assets/images/cbkt-dark.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size:50%;
}
div.formTitulo{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
div.formSubTitulo{
  font-size: 0.8em;
  color: gray;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
.btPrimeiroAcesso{
  cursor: pointer;
  color: white;
  font-size: 10px;
  font-weight: 500;
  background: #231f20;
  padding: 3px 8px;
  border-radius: 5px;
}
.btPrimeiroAcesso:hover{
  background: rgb(35,31,32,0.75);
  color: white;
}
.btEsqueciSenha{
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.75em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  >mat-icon{
    height: 19px;
    font-size: 19px;
  }
}
.btAcessar{
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  background-color: #231f20 !important;
  color: white !important;
}

@media screen and (max-width: 1024px) {
  div.logoLogin {
    display: none; /* Hide logo on smaller screens */
  }
  div.formLogin {
    width: 100vw;
  }
}
/* Se seus estilos estão encapsulados, você pode usar ::ng-deep ou então colocar no styles globais */

::ng-deep mat-slide-toggle .mat-slide-toggle-bar {
  width: 14px;   /* ajuste conforme necessário */
  height: 12px;
}

::ng-deep mat-slide-toggle .mat-slide-toggle-thumb {
  width: 10px;
  height: 10px;
}

/* Também corrija o deslocamento do thumb quando estiver marcado */
::ng-deep mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d( (10px - 10px), 0, 0 ) !important;
  /* ou algo parecido, dependendo do tamanho que você aplicar */
}
