services:
  cbkt:
    build: .
    container_name: app
    expose:
      - "4000"
    networks:
      - proxy

  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - cbkt
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
