@if(atleta(); as atleta){
  <div class="carteirinha">
    <div class="carteirinha-header">
      <div mat-card-avatar>
        @if (atleta.sexo === 'F') {
          <img class="carteirinha-foto" src="assets/images/avatar-af.png" alt="Foto do(a) atleta" />
        }
        @if (atleta.sexo === 'M') {
          <img class="carteirinha-foto" src="assets/images/avatar-am.png" alt="Foto do(a) atleta" />
        }
      </div>
      <div class="carteirinha-info">
        <div class="carteirinha-nome">{{ atleta.nomeAtleta }}</div>
        <div class="carteirinha-categoria">Categoria: <strong>{{ atleta.categoria }}</strong></div>
        <div class="carteirinha-clube">Clube: <strong>{{ atleta.nomeClube }}</strong></div>
      </div>
    </div>
    <app-faixa-karate
      [corHex]="atleta.graduacao.corHex"
      [grau]="atleta.graduacao.grauNome"
      [nomeCor]="atleta.graduacao.corNome">
    </app-faixa-karate>
    <div class="carteirinha-dados">
      <div>Data de Nascimento: <strong>{{ atleta.dataNascimento }}</strong></div>
      <div>Cadastro: <strong>{{ atleta.dataCadastro | date:'dd/MM/yyyy' }}</strong></div>
    </div>
    <div class="carteirinha-footer">
      <span>Confederação Brasileira de Karatê Tradicional - CBKT</span>
    </div>
  </div>
}
