.carteirinha {
  width: 85vw;
  height: auto;
  min-height: 40vh;
  max-width: 450px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 24px auto;
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-left: 10px solid #FFD100;
  border-right: 10px solid #009739;
  border-radius: 10px;
}
.body{
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.header{
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  background-color: #231f20;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  >img{
    height: 50px;
  }
}
.carteirinha-foto {
  height: 130px;
  text-align: center;
  >img{
    width: inherit;
    height: inherit;
    //border-radius: 12px;
    object-fit: cover;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-right: 16px;
  }
}
