<div class='conteudoLogin'>
  <div class="formLogin">
    <div class="logo">
      <img style="width: 100%;" src="assets/images/cbkt-light.png">
    </div>
    @if(isUsuarioCriado && usuarioCriado != null){
      <div class="msgSucesso">
        Parabéns <b>{{usuarioCriado.nome.split(" ")[0]}}</b>! Seu login foi criado com sucesso.
        <p>Acesse o link enviado para <b>{{usuarioCriado.email}}</b> e crie sua senha de acesso.</p>
      </div>
    }@else{
      <div class="formTitulo">Primeiro Acesso</div>
      <div class="formSubTitulo">Valide seus dados para criar o login de acesso:</div>
      <form id="form" [formGroup]="form" (submit)="validar()" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input
            matInput
            formControlName="email"
            type="email"
            name="no-username"
            autocomplete="off"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <mat-icon matPrefix>numbers</mat-icon>
          <input
            matInput
            mask="999.999.999-99"
            formControlName="cpf"
            type="text"
            name="no-username"
            autocomplete="off"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput
            [matDatepicker]="picker"
            formControlName="dtNascimento"
            type="text"
            name="no-username"
            autocomplete="off"
            (focus)="picker.open()">
          <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" [disabled]="form.invalid" id="btAcessar" class="btAcessar" type="submit">
            Validar
          </button>
          <button mat-flat-button color="warn" class="btCancelar" [routerLink]="['/login']">
            Cancelar
          </button>
        </div>
      </form>
    }
  </div>
  <div class="logoLogin"></div>
</div>
