<mat-sidenav-container>
  <mat-sidenav #sidenav
    mode="side"
    [opened]="isOpen()"
    fixedInViewport="true"
    style="width: 200px;">
    <app-menu [menuItems]="[
      { label: 'Dashboard', icon: 'dashboard', route: '/dashboard' },
      { label: 'Usuários', icon: 'people', route: '/usuarios' },
      { label: 'Configurações', icon: 'settings', route: '/configuracoes' }
    ]"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
