<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap=64
    fixedBottomGap=20
    style="width: 230px;">
    <mat-nav-list>
      <div class="logo">
        <a routerLink="/home" routerLinkActive="active">
          <img src="assets/css/imagens/logo.png" alt="logo polícia judicial">
        </a>
        <div class="title">{{sistemaSigla}}</div>
        <mat-divider></mat-divider>
        <div class="moduleTitle">{{sistemaNome}}</div>
        <mat-divider></mat-divider>
      </div>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <div class="linkContent">
            <mat-icon>dashboard</mat-icon>
            <span style="font-weight: bold;">Início</span>
          </div>
        </a>
      @if(isAdm || isDev){
        <div class="navTitle">Locais de Atendimento</div>
          <a mat-list-item routerLink="/locais-atendimento" routerLinkActive="active">
            <div class="linkContent">
              <mat-icon style="transform: scaleX(-1);">location_on</mat-icon>
              <span>Cadastro</span>
            </div>
          </a>
        <div class="navTitle">Recepcionistas</div>
          <a mat-list-item routerLink="/recepcionistas" routerLinkActive="active">
            <div class="linkContent">
              <mat-icon style="transform: scaleX(-1);">group</mat-icon>
              <span>Cadastro</span>
            </div>
          </a>
      }
      <div class="navTitle">Registros</div>
        @if(isRecepcionista || isDev){
          <a mat-list-item routerLink="/acessos/entrada" routerLinkActive="active">
            <div class="linkContent">
              <mat-icon style="transform: scaleX(-1);">follow_the_signs</mat-icon>
              <span>Entrada</span>
            </div>
          </a>
          <a mat-list-item routerLink="/acessos/saida" routerLinkActive="active">
            <div class="linkContent">
              <mat-icon>follow_the_signs</mat-icon>
              <span>Saída</span>
            </div>
          </a>
        }
        <a mat-list-item routerLink="/acessos/consulta" routerLinkActive="active">
          <div class="linkContent">
            <mat-icon>find_in_page</mat-icon>
            <span>Consulta</span>
          </div>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
