<div class="faixa-container"
  [style.background-color]="corHex()"
  [style.border-radius]="borderRadius()">
  <!-- 5 Costuras paralelas -->
  <div [class]="{
    'faixa-preta': corHex()=='#000000',
    'faixa-colorida': corHex()!='#000000',
    'costura-1': true,
    'costura-paralela': true}"></div>
  <div [class]="{
    'faixa-preta': corHex()=='#000000',
    'faixa-colorida': corHex()!='#000000',
    'costura-2': true,
    'costura-paralela': true}"></div>
  <div [class]="{
    'faixa-preta': corHex()=='#000000',
    'faixa-colorida': corHex()!='#000000',
    'costura-3': true,
    'costura-paralela': true}"></div>
  <div [class]="{
    'faixa-preta': corHex()=='#000000',
    'faixa-colorida': corHex()!='#000000',
    'costura-4': true,
    'costura-paralela': true}"></div>
  <div [class]="{
    'faixa-preta': corHex()=='#000000',
    'faixa-colorida': corHex()!='#000000',
    'costura-5': true,
    'costura-paralela': true}"></div>

  <!-- Texto da faixa -->
  @if(nomeCor()!=null && grau()!=null) {
    <span class="faixa-texto">Faixa {{nomeCor()}} {{grau()}}</span>
  }
</div>
