:host{
  display: block;
  width: 100%;
}
form{
  width: 100%;
  >mat-form-field {
    width: 100%;
  }
}
.btIcon{
  background: none;
  border: none;
  cursor: pointer;
  > mat-icon{
    vertical-align: middle;
    color:currentColor;
  }
}
.disabled{
  color: gray;
}
