<app-page-title
  [title]="isEditing() ? 'Atualizar Atleta' : 'Cadastrar Atleta'"
  isCrud
  [isDelete]="isEditing()"
  [isValid]="form.valid"
  (cancel)="onCancel()"
  (save)="onSubmit()"
  (delete)="onDelete()"
></app-page-title>

<div class="atleta-crud-container">
  @if(atleta$ | async; as atleta) {
    <form [formGroup]="form">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Dados Pessoais
          </ng-template>
          <app-atleta-dados-pessoais-form
            ngSkipHydration
            [atleta]="atleta"
            (valor)="atualizarAtleta($event)"
          ></app-atleta-dados-pessoais-form>
        </mat-tab>
        <mat-tab [disabled]="!isEditing()">
          <ng-template mat-tab-label>
            <mat-icon svgIcon="dojo"></mat-icon>
            Clube
          </ng-template>
          <app-atleta-clube-crud
            [atleta]="atleta">
          </app-atleta-clube-crud>
        </mat-tab>
        <mat-tab [disabled]="!isEditing()">
          <ng-template mat-tab-label>
            <mat-icon svgIcon="faixa"></mat-icon>
            Graduação
          </ng-template>
          <app-atleta-graduacao-crud
            [atleta]="atleta">
          </app-atleta-graduacao-crud>
        </mat-tab>
      </mat-tab-group>
    </form>
  }@else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Dados Pessoais
          </ng-template>
          <app-atleta-dados-pessoais-form
            [atleta]="null"
            (valor)="atualizarAtleta($event)"
          ></app-atleta-dados-pessoais-form>
        </mat-tab>
        <mat-tab [disabled]="!isEditing()">
          <ng-template mat-tab-label>
            <mat-icon svgIcon="dojo"></mat-icon>
            Clube
          </ng-template>
        </mat-tab>
        <mat-tab [disabled]="!isEditing()">
          <ng-template mat-tab-label>
            <mat-icon svgIcon="faixa"></mat-icon>
            Graduação
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </form>
  }
</div>
