@if (atleta$ | async; as atleta) {
  <mat-tab-group headerPosition="below" labelClass="tab-header">
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <mat-icon>id_card</mat-icon>
          <div>Carteirinha</div>
        </div>
      </ng-template>
      <div class="tab-content">
        <app-atleta-carteirinha [atleta]="atleta"></app-atleta-carteirinha>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <mat-icon>thumb_up</mat-icon>
          <div>Cadastro</div>
        </div>
      </ng-template>
      <div class="tab-content">
        <app-atleta-dados [atleta]="atleta"></app-atleta-dados>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>
          <mat-icon>thumb_up</mat-icon>
          <div>Graduações</div>
        </div>
      </ng-template>
      <div class="tab-content">
        <app-atleta-dados [atleta]="atleta"></app-atleta-dados>
      </div>
    </mat-tab>
  </mat-tab-group>
} @else {
  <mat-card>
    <mat-card-content style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 180px;">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="48"></mat-progress-spinner>
      <p style="margin-top: 18px; font-size: 1.1rem;">Carregando dados do atleta...</p>
    </mat-card-content>
  </mat-card>
}
