@media (max-width: 600px) {
  mat-card {
    max-width: 98vw;
    margin: 16px;
    border-radius: 8px;
  }
  mat-card-header {
    border-radius: 8px 8px 0 0;
  }
}
div.tab-content {
  overflow-y: scroll;
}
::ng-deep .mat-mdc-tab-header {
  position: fixed !important;;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


