<mat-toolbar class="toolbar flex">
  <div class="logo">
    <a routerLink="/home" routerLinkActive="active">
      <img src="assets/images/cbkt-trans.png" alt="logo cbkt">
    </a>
  </div>
  <div class="left">
    <app-theme-toggle></app-theme-toggle>
    <button mat-icon-button title="Sair do sistema"  (click)="logof()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="'/exemplos'">
            <mat-icon>apps</mat-icon>
            <span>Exemplos</span>
        </button>
        <button mat-menu-item (click)="logof()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>
  </div>
</mat-toolbar>
