*{
  margin: 0;
  padding: 0;
}
:host{
  background-color:transparent !important;
  background-repeat: no-repeat;
  background-position: center;
}
div.logo{
  width: 100%;
  text-align: center;
  >img{
    width: 75%;
  }
}
.hint{
  font-size: 0.7em;
  text-align: start;
  color: red;
  margin-top: -7px;
  margin-bottom: 10px;
  margin-right: -13px;
}
div.conteudoLogin{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
div.formLogin {
  width: 25vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  >form{
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
div.logoLogin {
  width: 75vw;
  height: 110vh;
  background-color:#231f20 !important;
  background-image: url("../../../../../../public/assets/images/cbkt-dark.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size:50%;
}
div.msgTitulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  >.titulo{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  >.subTitulo{
    font-size: 1.2em;
    text-align: center;
  }
}
.informe{
  font-size: 0.9em;
  text-align: left;
  color: grey;
  margin-bottom: 5px;
}
.btAcessar{
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  background-color: #231f20 !important;
  color: white !important;
}
.btAcessar:disabled{
  background-color:rgb(35,31,32,0.3) !important;
}
@media screen and (max-width: 1024px) {
  div.logoLogin {
    display: none; /* Hide logo on smaller screens */
  }
  div.formLogin {
    width: 100vw;
  }
}

.matcher{
  font-size: 0.7em;
  text-align: start;
  >*>mat-icon{
    font-size: 1em;
    height: 1em;
    width: 1em;
  }
  >.title{
    font-weight: bold;
    font-style: italic;
  }
  >.success{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color:green;
    >mat-icon{
      color:green;
    }
  }
  >.error{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color:red;
    >mat-icon{
      color:red;
    }
  }
}
.tokenInvalid{
  padding-top: 25px;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
  text-align: center;
}
