@use '@angular/material' as mat;
@include mat.core();

$cyan-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$red-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

.cyan-theme {
  @include mat.all-component-themes($cyan-theme);
  @include mat.system-level-colors($cyan-theme);
  @include mat.system-level-typography($cyan-theme);
}
