.dark-table{
  thead{
      background-color: var(--mat-sys-primary-container);
      >*{
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-primary);
      }
      color: var(--mat-sys-primary);
  }
  .mat-mdc-row {
    height: 30px;
  }
  .mat-mdc-header-row {
    height: 40px;
  }
  .mat-mdc-row:nth-child(even){
    background-color: var(--mat-sys-background);
  }
  .mat-mdc-row:nth-child(odd){
    background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low));
  }
  .mat-mdc-paginator{
    transform: scale(0.9);
    transform-origin: right center;
    background-color: transparent;
  }
  .mat-mdc-paginator-container {
    padding: 0;
    width: 100%;
    min-height:auto;
  }
}


