@use '@angular/material' as mat;
@use 'light-table.scss';
@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  ),
));

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);

  --zebra:#b9d1d5;
  --sys-primary: rgb(19 102 130);
  --sys-surface-tint: rgb(19 102 130);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(190 233 255);
  --sys-on-primary-container: rgb(0 31 42);
  --sys-secondary: rgb(77 97 108);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(208 230 242);
  --sys-on-secondary-container: rgb(8 30 39);
  --sys-tertiary: rgb(5 107 91);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(160 242 222);
  --sys-on-tertiary-container: rgb(0 32 26);
  --sys-error: rgb(144 74 67);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(255 218 214);
  --sys-on-error-container: rgb(59 9 7);
  --sys-background: rgb(246 250 254);
  --sys-on-background: rgb(23 28 31);
  --sys-surface: rgb(246 250 254);
  --sys-on-surface: rgb(23 28 31);
  --sys-surface-variant: rgb(220 228 233);
  --sys-on-surface-variant: rgb(64 72 76);
  --sys-outline: rgb(112 120 125);
  --sys-outline-variant: rgb(192 200 205);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(44 49 52);
  --sys-inverse-on-surface: rgb(237 241 245);
  --sys-inverse-primary: rgb(139 208 240);
  --sys-primary-fixed: rgb(190 233 255);
  --sys-on-primary-fixed: rgb(0 31 42);
  --sys-primary-fixed-dim: rgb(139 208 240);
  --sys-on-primary-fixed-variant: rgb(0 77 101);
  --sys-secondary-fixed: rgb(208 230 242);
  --sys-on-secondary-fixed: rgb(8 30 39);
  --sys-secondary-fixed-dim: rgb(180 202 214);
  --sys-on-secondary-fixed-variant: rgb(53 74 84);
  --sys-tertiary-fixed: rgb(160 242 222);
  --sys-on-tertiary-fixed: rgb(0 32 26);
  --sys-tertiary-fixed-dim: rgb(132 214 194);
  --sys-on-tertiary-fixed-variant: rgb(0 81 68);
  --sys-surface-dim: rgb(214 219 222);
  --sys-surface-bright: rgb(246 250 254);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(240 244 248);
  --sys-surface-container: rgb(234 238 242);
  --sys-surface-container-high: rgb(228 233 236);
  --sys-surface-container-highest: rgb(223 227 231);
}
