.light-table{
  table{
    background-color: #F4F3F6;
  }
  mat-paginator{
    background-color: #F4F3F6;
    border-top: 1px solid white;
  }
  thead>tr{
    background-image: linear-gradient(to right,#005E7A,#1F6A74,#43786C);
    background-repeat: no-repeat;
    color: #FFF !important;
  }
  thead>tr>th{
    background:transparent !important;
    color: #FFF !important;
    >div>span>button{
      background-color: #FFF !important;
      color: #005E7A !important;
    }
  }
  thead>tr>.thFilter {
    background-image: linear-gradient(to right,#005E7A,#1F6A74,#43786C);
    background-repeat: no-repeat;
    color: #FFF !important;
    border-color: #FFF !important;
  }
  .mat-sort-header-arrow {
    color:#FFF !important;
  }
  $zebra:rgb(185, 209, 213, 0.3);
  $zebraContrast:#2a514c;
  .rowZebra{
    background-color: $zebra !important;
    color: $zebraContrast;
  }
}
