<div class="form-grid">
  @if (graduacoes$ | async; as graduacoes) {
    <mat-form-field appearance="outline">
      <mat-label>Graduação</mat-label>
      <mat-select (selectionChange)="graduacaoSelect($event)">
          @for (graduacao of graduacoes; track graduacao) {
            <mat-option
              [style.background-color]="graduacao.corHex"
              [style.color]="getContrastingColor(graduacao.corHex)"
              style="border: 1px solid;"
              [style.border.color]="getContrastingColor(graduacao.corHex)"
              [value]="graduacao">
              {{ graduacao.descricaoGraduacao }}
            </mat-option>
          }
      </mat-select>
    </mat-form-field>
  }
  <app-datepicker
    [label]="dtLabel"
    (select)="selecionarDataExame($event)"
  ></app-datepicker>
  <app-slider
    [label]="'Nota do Exame'"
    [min]="5"
    [max]="7"
    [step]="0.1"
    (value)="valorNota($event)"
  ></app-slider>
</div>
