<mat-card>
  <mat-card-content>
    <table
      [dataSource]="dataSource"
      mat-table
      matSort
      matSortDisableClear
      [matSortActive]="matSortActive()"
      [matSortDirection]="matSortDirection()"
      (matSortChange)="onSort($event)">
        <ng-container matColumnDef="filtro">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="100" style='text-align: left !important;' class="thFilter">
            <div class="filtro">
              <mat-icon style="vertical-align:middle;margin-right:5px;">filter_alt</mat-icon>
              <input matInput class="inputFilter" [(ngModel)]="inputFilter" placeholder="Filtro">
              <button class="btIcon" title="Filtrar" (click)="applyFilter()" [disabled]="inputFilter.length<3">
                <mat-icon fontSet="material-symbols-outlined">filter_arrow_right</mat-icon>
              </button>
              <a style="cursor: pointer;" title="Limpar Filtro" (click)="cleanFilter()">
                  <mat-icon fontSet="material-symbols-outlined" style="vertical-align:middle;margin-left:5px;">filter_alt_off</mat-icon>
              </a>
              <span class="separador"></span>
              @for (action of customTableActions(); track action) {
                <span style="vertical-align: middle;margin-left:5px">
                  <button style="min-width: 120px;" mat-flat-button mat-button color="primary" [title]="action.name" (click)="actionTable(action)">
                    <mat-icon style="color:fff">{{action.icon}}</mat-icon>{{action.name}}
                  </button>
                </span>
              }
              @if (isCreate()) {
                <span style="vertical-align: middle;margin-left:5px">
                  <button matButton="elevated" title="Novo cadastro" (click)="createElement()">
                    <mat-icon style="color:fff">add_circle</mat-icon>Cadastrar
                  </button>
                </span>
              }
              @if(isPrintAll()){
                <span style="vertical-align: middle;margin-left:5px">
                  <button style="width: 120px;" mat-flat-button mat-button color="primary" title="Gerar impressão" (click)="printAllElements()">
                    <mat-icon style="color:fff">print</mat-icon>Imprimir
                  </button>
                </span>
              }
              @if (isExportAll()) {
                <span style="vertical-align: middle;margin-left:5px">
                  <button style="width: 120px;" mat-flat-button mat-button color="primary" title="Exportar pra excel" (click)="exportAllElements()">
                    <mat-icon style="color:fff">table_view</mat-icon>Exportar
                  </button>
                </span>
              }
            </div>
          </th>
      </ng-container>
      @if(isEdit()){
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="tdActions">
            <a class="btElement" title="Editar" (click)="editElement(element);">
              <mat-icon>edit_square</mat-icon>
            </a>
          </td>
        </ng-container>
      }

      @for (c of fieldColumns(); track c) {
        <ng-container [matColumnDef]="c.columnName">
          @if(c.type=="corHex"){
            <th mat-header-cell *matHeaderCellDef [style.width.px]="5" [style.padding]="'0'"></th>
            <td mat-cell *matCellDef="let element"
              [style.border-left-width.px]="5"
              [style.border-left-style]="'solid'"
              [style.border-left-color]="element[c.field]"
              [style.padding]="'0'"
            ></td>
          }@else{
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="c.field" [style.width.px]="c.field.length * 10">{{c.columnName}}</th>
            <td mat-cell *matCellDef="let element">{{
              c.type=="date" ?
              (element[c.field] | date: "dd/MM/yyyy") :
              (element[c.field])
            }}</td>
          }
        </ng-container>
      }

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="tdActions">
          @for(action of customElementActions(); track action){
            @if(action.show){
              <a class="btElement" [title]="action.name" (click)="actionElement(action,element);">
                <mat-icon>{{action.icon}}</mat-icon>
              </a>
            }
          }
          @if (isUpdate()) {
            <a class="btElement" style="cursor: pointer;" title="Alterar" (click)="updateElement(element)">
              <mat-icon>edit</mat-icon>
            </a>
          }
          @if (isDelete()) {
            <a class="btElement" title="Remover" (click)="deleteElement(element)">
              <mat-icon style="color: red;">delete</mat-icon>
            </a>
          }
          @if (isPrint()) {
            <a class="btElement" title="Imprimir" (click)="printElement(element)">
              <mat-icon>print</mat-icon>
            </a>
          }
          @if (isExport()) {
            <a class="btElement" title="Exportar" (click)="exportElement(element)">
              <mat-icon>table_view</mat-icon>
            </a>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['filtro']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index;" [ngClass]="{'rowZebra':i%2!=0}"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          @if (dataSource.data.length!==0) {
            <div class="filterMsg">Nenhum dado correspondente ao filtro "{{inputFilter}}"</div>
          }
        </td>
      </tr>
    </table>
    @if(isPageable()){
      <mat-paginator
        showFirstLastButtons
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="pageLength"
        (page)="onPage($event)">
      </mat-paginator>
    }@else {
      <mat-paginator
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons>
      </mat-paginator>
    }
  </mat-card-content>
</mat-card>
