:host{
  display: block;
  justify-content: center;
}
table {
  width: 100%;
}
.tdActions{
  width: 50px;
  text-align: center;
}
.thFilter{
  height: 45px;
}
div.filtro{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  > .inputFilter{
    width: 300px;
    padding: 2px;
    text-transform:uppercase;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  }
  > .separador{
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid;
    height: 28px;
  }
}
.msg{
  color: red;
  font-size: 1.1em;
}
.btElement{
  cursor: pointer;
  >mat-icon{
    vertical-align: middle;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 900px) {
  table {
    font-size: 0.95em;
  }
}
