form{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  >mat-form-field, fieldset{
    width: calc(33% - 10px);
    margin-right: 10px;
  }
}
