div.tituloPagina{
  border-bottom: 1px solid;
  padding: 5px 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  >.actions{
    display:flex;
    gap:5px
  }
}
.btExcluir {
  background-color: #dc3545 !important;
  color: #FFF !important;//#f5c6cb !important;
  mat-icon {
    color: #FFF;
  }

  &:hover {
    opacity: 0.9;
  }
}
