<mat-accordion displayMode="flat">
  @for(menu of menu.headers; track menu){
    <mat-expansion-panel [expanded]="isExpanded(menu)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          @if(menu.iconType === iconType.NORMAL){
            <mat-icon class="header-icon">{{menu.icon}}</mat-icon>
          }@else if(menu.iconType === iconType.OUTLINED){
            <mat-icon class="header-icon" fontSet="material-symbols-outlined">{{menu.icon}}</mat-icon>
          }@else if(menu.iconType === iconType.SVG){
            <mat-icon class="header-icon" svgIcon="{{menu.icon}}"></mat-icon>
          }
          <span  class="header-title">{{menu.title}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="menu-content">
        @for(item of menu.itens; track item){
          <li (click)="itemSelected(item)" [class.item-selected]="item.selected" [routerLink]="item.route">
            {{item.label}}
            @if(item.selected){
              <mat-icon>arrow_left</mat-icon>
            }
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>
