<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon >menu</mat-icon>
        TEste1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="menu-content">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon >menu</mat-icon>
        Teste2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="menu-content">
      <div>Teste</div>
      <div>Teste</div>
      <div>Teste</div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon >menu</mat-icon>
        Teste2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="menu-content">
      <div>Teste</div>
      <div>Teste</div>
      <div>Teste</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
