@use 'sass:color';
@use '@angular/material' as mat;

ul.menu-content{
  margin: 0;
  padding-left: 21px;
  >li{
    padding-left: 17px;
    cursor: pointer;
    list-style: none;
    border-left: 2px solid;
    display: flex;
    justify-content: space-between;
    >mat-icon{
      color: var(--mat-app-background-color);
      width: 14px;
    }
  }
  >li:hover{
    font-weight: bold;
  }
  >li:checked{
    font-weight: bold;
  }
}
.header-title{
  padding-left: 5px;
}
.item-selected{
  background-color: var(--mat-button-toggle-selected-state-background-color);
  font-weight: bold;
}
:host{
  @include mat.expansion-overrides((
    header-collapsed-state-height: 30px,
    header-expanded-state-height: 30px,
    container-shape:30px
  ));
  .mat-expansion-panel:last-of-type{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mat-expansion-panel-header{
    padding: 0 10px;
  }
}
.selected {
  font-weight: bold;
}
