<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>settings</mat-icon>Teste 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="menu-content">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon >menu</mat-icon>
        Teste 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="menu-content">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>menu</mat-icon>Teste 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="menu-content">
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
