@use 'sass:color';
@use '@angular/material' as mat;

ul.menu-content{
  background-color:#231f20;
  color: white;
  margin: 0;
  padding: 0;
  >li{
    padding-left: 25px;
    color: white;
    cursor: pointer;
    list-style: none;
    border-left: 5px solid rgba(35,31,32,0.5);
  }
  >li:hover{
    opacity: 0.5;
    font-weight: 100;
  }
}

:host{
  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color:var(--mat-sys-on-primary),
    header-text-color: var(--mat-sys-on-primary),
    header-indicator-color: var(--mat-sys-on-primary),
    header-collapsed-state-height: 30px,
    header-expanded-state-height: 30px,
    container-shape:30px
  ));
  .mat-expansion-panel:last-of-type{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mat-expansion-panel-header{
    padding: 0 10px;
  }
}
