<mat-toolbar class="toolbar flex">
  <div class="right">
    <div class="logo">
      <button mat-icon-button title="Menu" (click)="hideNavBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/home" routerLinkActive="active">
      </a>
      <div></div>
    </div>
  </div>
  <div class="left">
    <app-theme-toggle></app-theme-toggle>
    <button mat-icon-button title="Sair do sistema" (click)="logof()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>
