<mat-toolbar class="toolbar flex">
  <div class="logo">
    <div>
      <a href="home"><img src="/assets/css/images/logo-tre-ba.png" class="cursor-pointer" style="height: 50px;"/></a>
    </div>
  </div>
  <div *ngIf="true"  class="left">
    <app-theme-toggle *ngIf="false" ></app-theme-toggle>
    <button *ngIf="true" mat-icon-button title="Sair do sistema"  (click)="logof()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button *ngIf="false" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    @if(!isAdm){
      <a *ngIf="local; else otherContent" (click)="openSelectLocal()" title="selecionar local de atendimento">
        <mat-icon>person_pin_circle</mat-icon>
        <span class="uf">{{local.nome}} - {{local.localizacao}}</span>
      </a>
      <ng-template #otherContent>
        @if(local){
          <a (click)="openSelectLocal()" title="selecionar local de atendimento">
            <mat-icon>person_pin_circle</mat-icon>
            <span class="uf">local.nome</span>
          </a>
        }@else{
          <a (click)="openSelectLocal()" title="selecionar local de atendimento">
            <mat-icon>person_pin_circle</mat-icon>
            <span class="uf">Selecione um local de atendimento</span>
          </a>
        }
      </ng-template>
    }
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="'/exemplos'">
            <mat-icon>apps</mat-icon>
            <span>Exemplos</span>
        </button>
        <button mat-menu-item (click)="logof()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sair</span>
        </button>
    </mat-menu>
  </div>
</mat-toolbar>
